/* home page top img css */
.featured{
    height: 90vh;
    position: relative;
}

.featured> img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info{
    width: 50%;
    position: absolute;
    left: 50px;
    bottom: 100px;
    color: white;
    display: flex;
    flex-direction: column;
}

.info>img{
    width:400px;
}
.desc{
    margin: 20px 0px;
    font-size: 16px;
}

.btn{
    display: flex;
}
/* button css play button and info button */
button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-right: 10px;
    cursor: pointer;
}

.play{
    background-color: white;
}

.infobtn{
    background-color: gray;
}

button>span{
    margin: 5px 20px;
}
